
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

#caption{
  margin-left: 25px;
}

/* progress bar */
#my-progress-bar {
  background: #ccc;
  border-radius: 12px;
  height: 22px;
  width: 330px;
  padding: 0px;
  margin: 0 auto;
}

#my-progress-bar:after {
  content: '';
  display: block;
  background: #0c0;
  width: 50%;
  height: 100%;
  border-radius: 9px;
}
